<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pplip.domain.file.persistence.dao.mapper.ReviewImagePropertyMapper">
    <resultMap id="reviewImagePropertyMap" type="ReviewImageProperty" autoMapping="true"/>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into review_image_property (review_id, origin_file_name, path, saved_file_name, content_type,size, created_at,
                                              updated_at, uploader_id)
        values (#{reviewId}, #{originFileName}, #{path}, #{savedFileName},#{content_type}, #{size}, #{createdAt}, #{updatedAt}, #{uploaderId});
    </insert>

    <insert id="insertAll" useGeneratedKeys="true" keyProperty="id">
        insert into review_image_property (review_id, origin_file_name, path, saved_file_name,content_type , size,
        created_at,
        updated_at, uploader_id)
        values
        <foreach collection="list" index="index" item="reviewImage" separator=",">
            (#{reviewImage.reviewId}, #{reviewImage.originFileName}, #{reviewImage.path},
            #{reviewImage.savedFileName},#{reviewImage.content_type}, #{reviewImage.size}, #{reviewImage.createdAt},
            #{reviewImage.updatedAt}, #{reviewImage.uploaderId});
        </foreach>
    </insert>

    <select id="findAllByIds" resultMap="reviewImagePropertyMap">
        select *
        from review_image_property
        where id in
        <foreach collection="fileIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <delete id="delete">
        delete
        from review_image_property
        where id = #{id};
    </delete>

    <update id="bulkUpdateReviewId">
        UPDATE free_board_image_property
        SET
        review_id = #{review_id},
        updated_at = now()
        WHERE id IN
        <foreach collection="imageIds" item="imageId" open="(" close=")" separator=",">
            #{imageId}
        </foreach>
    </update>
</mapper>