<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pplip.domain.trip.attraction.persistence.dao.AttractionDao">
    <select id="findByNo" resultType="com.pplip.domain.trip.attraction.api.response.AttractionResponse$Details">
        select *
        from attractions
        where no = #{no};
    </select>

    <insert id="insert" parameterType="com.pplip.domain.trip.attraction.persistence.entity.Attraction" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO attractions (title, area_code, si_gun_gu_code, content_id, content_type_id, first_image1, first_image2, homepage, latitude, longitude, map_level, overview, tel)
        VALUES (#{title}, #{areaCode}, #{siGunGuCode}, #{contentId}, #{contentType.id}, #{firstImage1}, #{firstImage2}, #{homepage}, #{latitude}, #{longitude}, #{mapLevel}, #{overview}, #{tel})
    </insert>
</mapper>