<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pplip.domain.trip.plan.persistence.dao.PlanDao">
    <resultMap id="planMap" type="com.pplip.domain.trip.plan.persistence.entity.Plan" autoMapping="true">
        <id property="id" column="id"/>
    </resultMap>
    <select id="findAll" resultType="com.pplip.domain.trip.plan.api.response.PlanResponse$Summary">
        SELECT
            p.id,
            p.title,
            p.thumbnail,
            p.start_date,
            p.end_date,
            p.created_at,
            COALESCE(
                    (COUNT(CASE WHEN t.will_end_at &lt; DATE_ADD(NOW(), INTERVAL 9 HOUR) THEN 1 END) * 100.0)
                        / NULLIF(COUNT(t.id), 0),
                    0
            ) AS completedRate
        FROM plan p
                 LEFT JOIN to_do t ON p.id = t.plan_id
        WHERE p.user_id = #{userId}
        GROUP BY p.id
        ORDER BY p.start_date
        LIMIT #{page.pageSize}
            OFFSET #{page.offset};
    </select>

    <select id="findByIdToDto" resultType="com.pplip.domain.trip.plan.api.response.PlanResponse$PlanDetail">
        select
            id,
            title,
            thumbnail,
            user_id,
            start_date as startDate,
            end_date as endDate,
            created_at as createdAt
        from plan
        where id = #{id};
    </select>

    <select id="findById" resultMap="planMap">
        select *
        from plan
        where id = #{id};
    </select>

    <insert id="insert" parameterType="com.pplip.domain.trip.plan.persistence.entity.Plan" useGeneratedKeys="true" keyProperty="id">
        insert into plan (user_id, title, thumbnail, start_date, end_date, created_at)
        values (#{userId}, #{title}, #{thumbnail}, #{startDate}, #{endDate}, #{createdAt});
    </insert>

    <update id="update" parameterType="com.pplip.domain.trip.plan.persistence.entity.Plan">
        update plan
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="thumbnail != null">
                thumbnail = #{thumbnail},
            </if>
            updated_at = #{updatedAt}
        </set>
        where id = #{id};
    </update>

    <delete id="delete">
        delete from plan where id = #{id};
    </delete>
    <select id="count">
        select count(*) from plan where user_id = #{userId};
    </select>

</mapper>